

  <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../../../../../assets/Layer 1 copy.png" alt="Random first slide">
          <div class="overlay"></div>
        </div>
        <div class="carousel-caption">
          <h3>Al Foundation</h3>
          <p>is focused on inspiring the next generation of kids Healthcare professionals.</p>
          <button>
              <a href="" target="_blank"> Donate Now </a>
          </button>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../../../../../assets/Layer 27.png" alt="Random second slide">
          <div class="overlay"></div>
        
      </div>
      <div class="carousel-caption">
          <h3>Al Foundation</h3>
          <p>is focused on inspiring the next generation of kids Healthcare professionals.</p>
          <button>
            <a href="" target="_blank"> Donate Now </a>
        </button>
        </div>
      </ng-template>
  </ngb-carousel>
  