


<div>
   <div style="position: relative;">
     <div style="width: 100%;height: 1009px;position: relative; background-image: url('../../../../../../assets/Layer 27.png');background-size: cover;background-position: center;">
        <div style="background-color: #3F3F3F;position: absolute;width: 100%;height: 100%;opacity: 0.53;">

        </div>
     </div>

     <div class="" style="width:100%; position: absolute;bottom: 25%;">

         <div style="text-align: center;color: white;margin-bottom: 7rem;">
            <h2>How we have helped</h2>
            <p>See how Al Foundation have promoted change locally and to the world</p>
         </div>

         <div class="row w-100" style="justify-content: center;">
            <div class="offset-1"></div>
            <div class="col-sm-12 col-lg-2" style="margin-right: 4rem;">
               <div style="height: 200px;border: 4px solid white; transform:rotate(45deg);">
                  <div style="width: 100%;height: 100%;padding: 15px 25px 5px;">
                     <img src="../../../../../../assets/pin (1).svg" alt="" style="transform: rotate(-45deg);">
                     <p style="transform: rotate(-45deg);color: white;font-size: 28px;">Find place</p>
                     <div style="margin-left: 3rem; text-align: center;">
                        <a href="" target="_blank" style="color: white;">
                           <mat-icon>close</mat-icon>
                        </a>
                     </div>
                  </div>
               </div>
            </div>

            <div  class="col-sm-12 col-lg-2" style="margin-right: 4rem;">
               <div style="height: 200px;border: 4px solid white; transform:rotate(45deg);">
                  <div style="width: 100%;height: 100%;padding: 15px 25px 5px;">
                     <div>
                        <mat-icon style="color: white;font-size: 48px;transform: rotate(-45deg);">visibility </mat-icon>
                     </div>
                     <!-- <img src="../../../../../../assets/pin (1).svg" alt="" style="transform: rotate(-45deg);"> -->
                     <p style="transform: rotate(-45deg);color: white;font-size: 28px;">A’awen</p>
                     <div style="margin-left: 3rem; text-align: center;">
                        <a href="" target="_blank" style="color: white;">
                           <mat-icon>close</mat-icon>
                        </a>
                     </div>
                  </div>
               </div>
            </div>

            <div  class="col-sm-12 col-lg-2" style="margin-right: 4rem;">
               <div style="height: 200px;border: 4px solid white; transform:rotate(45deg);">
                  <div style="width: 100%;height: 100%;padding: 15px 25px 5px;">
                     <div>

                     </div>
                     <!-- <img src="../../../../../../assets/pin (1).svg" alt="" style="transform: rotate(-45deg);"> -->
                     <p style="transform: rotate(-45deg);color: white;font-size: 28px;">Omniyat</p>
                     <div style="margin-left: 3rem; text-align: center;">
                        <a href="" target="_blank" style="color: white;">
                           <mat-icon>close</mat-icon>
                        </a>
                     </div>
                  </div>
               </div>
            </div>

            <div  class="col-sm-12 col-lg-2" >
               <div style="height: 200px;border: 4px solid white; transform:rotate(45deg);">
                  <div style="width: 100%;height: 100%;padding: 15px 25px 5px;">
                     <img src="../../../../../../assets/surface1.svg" alt="" style="transform: rotate(-45deg);">
                     <p style="transform: rotate(-45deg);color: white;font-size: 28px;">Give Time</p>
                     <div style="margin-left: 3rem; text-align: center;">
                        <a href="" target="_blank" style="color: white;">
                           <mat-icon>close</mat-icon>
                        </a>
                     </div>
                  </div>
               </div>
            </div>

         </div>

         <div class="row w-100" style="justify-content: center;">
            <div class="offset-1"></div>
            <div class="col-sm-12 col-lg-2" style="margin:-3rem 4rem 0rem 4rem;">
               <div style="height: 200px;border: 4px solid white; transform:rotate(45deg);">
               <div style="width: 100%;height: 100%;padding: 15px 25px 5px;">
                     <div><i class="far fa-smile-beam" style="color: white;font-size: 48px;transform: rotate(-45deg);"></i></div>
                  <!-- <img src="../../../../../../assets/pin (1).svg" alt="" style="transform: rotate(-45deg);"> -->
                     <p style="transform: rotate(-45deg);color: white;font-size: 28px;">Tofoula</p>
                     <div style="margin-left: 3rem; text-align: center;">
                        <a href="" target="_blank" style="color: white;">
                           <mat-icon>close</mat-icon>
                        </a>
                     </div>
                  </div>
               </div>
            </div>

            <div  class="col-sm-12 col-lg-2" style="margin:-3rem 4rem 0rem 0rem;">
               <div style="height: 200px;border: 4px solid white; transform:rotate(45deg);">
               <div style="width: 100%;height: 100%;padding: 15px 25px 5px;">
                     <div>
                        <mat-icon style="color: white;font-size: 48px;transform: rotate(-45deg);">phone_android </mat-icon>
                     </div>
                  <!-- <img src="../../../../../../assets/pin (1).svg" alt="" style="transform: rotate(-45deg);"> -->
                     <p style="transform: rotate(-45deg);color: white;font-size: 28px;">Fundraising</p>
                     <div style="margin-left: 3rem; text-align: center;">
                        <a href="" target="_blank" style="color: white;">
                           <mat-icon>close</mat-icon>
                        </a>
                     </div>
                  </div>
               </div>
            </div>

            <div  class="col-sm-12 col-lg-2" style="margin:-3rem 4rem 0rem 0rem;">
               <div style="height: 200px;border: 4px solid white; transform:rotate(45deg);">
               <div style="width: 100%;height: 100%;padding: 15px 25px 5px;">
                     <img src="../../../../../../assets/noun_services_2097593.svg" alt="" style="transform: rotate(-45deg);">
                     <p style="transform: rotate(-45deg);color: white;font-size: 28px;">Zakat</p>
                     <div style="margin-left: 3rem; text-align: center;">
                        <a href="" target="_blank" style="color: white;">
                           <mat-icon>close</mat-icon>
                        </a>
                     </div>
                  </div>
               </div>
            </div>

          

         </div>


     </div>
   </div>
</div>