<footer>

    <div class="container">
        <div class="row">
    
            <div class="col-sm-12 col-md-6 col-lg-3">
                <ul>
                    <li>
                        <a href="">News</a>
                    </li>
                    <li>
                        <a href="">Events</a>
                    </li>
                    <li>
                        <a href="">About</a>
                    </li>
                    <li>
                        <a href="">FAQs</a>
                    </li>
                </ul>
            </div>
        
            <div class="col-sm-12 col-md-6 col-lg-2">
                <ul>
                    <li>
                        <a href="">Privacy</a>
                    </li>
                    <li>
                        <a href="">Contact Us</a>
                    </li>
                    <li>
                        <a href="">Complains</a>
                    </li>
                   
                </ul>
            </div>
        
            <div class="col-sm-12 col-md-6 col-lg-4">
                <p> Subscribe to Newsletter </p>
                <div class="search">
                    <input type="search" class="w-100" placeholder="Email Address">
                    <button>
                       <a> Subscribe </a> 
                    </button>
                </div>
        
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
                
                <p> Follow us on </p>
                
                <ul style="padding-left: unset;">
                    <li style="display: inline; color:  #565960;">
                        insta
                    </li>
                    <li style="display: inline;margin-left:5px; color:  #565960;">linkedin</li>
                    <li style="display: inline; margin-left: 5px; color:  #565960;">youtube</li>
                    <li style="display: inline; margin-left: 5px; color:  #565960;">fb
                    </li>
                    <li style="display: inline; margin-left: 5px; color:  #565960;">
                    twitter
                </li>
            </ul>
                
            </div>
    
        </div>
    </div>

</footer>
<div class="copy-right">
    <p class="text-center"> All rights reserved - Link Development Company © 2020 </p>
</div>